<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css?v=__VERSION__">
<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css?v=__VERSION__">
<link rel="stylesheet" href="__STATIC__/testtool/css/my.css?v=__VERSION__"></link>


<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js?v=__VERSION__"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js?v=__VERSION__"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js?v=__VERSION__"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__STATIC__/testtool/js/my.js?v=__VERSION__"></script>