<!DOCTYPE html>
<html>
{include file="public/layerheader" /}
<style>
	.box{
		margin-bottom: 0px;
	}
	.box .box-content{
		padding: 0px;
		padding-top: 10px;
		border: 0px;
	}
	.form-actions{
		margin-bottom: 0px;
		text-align: right;
	}
.error{
	color:red;
}
</style>
</head>
<body class='contrast-red '>

<div class='container-fluid'>
        <div class="row-fluid">
    <div class="span12 box">
        <div class="box-content">
            <form id="form-category-add"  action="applystatus" class="form form-horizontal "  method="post" style="margin-bottom: 0;"><div style="margin:0;padding:0;display:inline"></div>
                <input name="merchantid" id="merchantid" value="{$merchant.merchantid}" type="hidden"/>
                <input name="status" value="2" type="hidden"/>
                <div class="control-group">
                    <label class="control-label" for="username">联系人姓名：</label>
                    <div class="controls">
                        <input id="username" name="username"  disabled type="text" value="{$sysuser.username}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="mobile">联系人电话：</label>
                    <div class="controls">
                        <input id="mobile" name="mobile" placeholder="" disabled type="text" value="{$merchant.mobile}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nickname">微信昵称：</label>
                    <div class="controls">
                        <input id="nickname" name="nickname" disabled placeholder="" type="text" value="{$sysuser.nickname}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="merchantname">商户名称：</label>
                    <div class="controls">
                        <input id="merchantname" name="merchantname" value="{$merchant.merchantname}" disabled placeholder="" type="text" >
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="address">公司地址：</label>
                    <div class="controls">
                        <input id="address" name="address" placeholder="" disabled type="text" value="{$merchant.location}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="remark">备注：</label>
                    <div class="controls">
                        <textarea id="remark" name="remark" disabled>{$merchant.remark}</textarea>
                    </div>
                </div>
                
                <div class="form-actions">
                    <button id="btn-primary" class="btn btn-primary" type="submit">
                        审批通过
                    </button>
                    <button class="btn" type="button" onclick="javascript:close_layer();">取消</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
    </div>
{include file="public/footer" /}
<script>
	function close_layer(){
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
	}



    $(function(){
        $("#form-category-add").validate({
            rules:{
                status:{
                    required:true
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $('#btn-primary').html('正在操作..');
                $('#btn-primary').attr("disabled",true);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: 'applystatus',
                    data: $('#form-category-add').serialize(),
                    success: function (result) {
                        if(result.code == 1){
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }else{
                            alert(result.msg);
                            $('#btn-primary').attr("disabled",false);
                        }
                    },
                    error: function(data) {
                        alert("error:"+data.responseText);
                    }
                });
            }
        });
    });

</script>
</body>
</html>
