<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <title>青岛海瑞洁净电子有限公司</title>
    <meta name="keywords" content="青岛海瑞洁净电子有限公司">
    <meta name="description" content="青岛海瑞洁净电子有限公司">
</head>
<body class='contrast-red '>

<div class="cl pd-5 bg-1 bk-gray mt-20"> 添加产品信息</div>
<div>
    <div class="formControls col-xs-8 col-sm-9">
        <input id="file_upload2"  type="file" multiple="false" >
        <img  id="upload_org_code_img2"  width="350" height="auto">
        <input id="file_upload_image2" name="thumbnail" type="hidden" multiple="true" >
    </div>
</div>
<script>
    /**定义页面全局变量**/
    var SCOPE = {
        "uploadify_swf" : "__STATIC__/admin/uploadify/uploadify.swf",
        "image_upload" : "{:url('clientapi/image/upload')}",
    };

</script>


{load href="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js" /}
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
{load href="__STATIC__/admin/js/image.js" /}
<script>
    $(function(){

    });
</script>

</body>
</html>
