
<!--包含头部文件-->
{include file="public/header" /}
<!-- jqGrid组件基础样式包-必要 -->
<link rel="stylesheet" href="__STATIC__/admin/assets/javascripts/jqGrid_5/css/ui.jqgrid.css"/>

<!-- jqGrid主题包-非必要 -->
<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
<!--<link rel="stylesheet" href="__STATIC__/admin/assets/javascripts/jqGrid_5/css/ui.jqgrid-bootstrap-ui.css" />-->

<link rel="stylesheet" href="__STATIC__/admin/css/gridlist.css"/>
<style>
    .lead {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0px;
        line-height: 20px;
    }
    .ui-jqgrid-hdiv{
        display:none;
    }
    .pull-left {
        float: left;
        padding-left: 10px;
        padding-top: 5px;
    }
    .pull-right {
        padding-right: 10px;
    }
    .ui-paging-pager{
        font-size:14px;
    }
    .jqgrow td{
        border-left:1px solid #DDDDDD;
    }
    #pager2{
        padding:0px !important;
    }
    #pg_pager2{
        padding:5px !important;
        border-left:1px solid #DDDDDD !important;
        border-right:1px solid #DDDDDD !important;
    }
</style>
<div id='wrapper'>

    <!--包含菜单文件-->
    {include file="public/menu" /}
<section id='content'>
<div class='container-fluid'>
<div class='row-fluid' id='content-wrapper'>
<div class='span12'>
<div class='page-header'>
    <h1 class='pull-left'>
        <i class='icon-bar-chart'></i>
        <span>智能机柜管理</span>
    </h1>
    <div class='pull-right'>
                <ul class='breadcrumb'>
                    <li>
                        <a href="{:url('index/index')}"><i class='icon-home' style="font-size:17px;"></i>
                        </a>
                    </li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li>
                        <a href="{:url('machine/index')}">智能机柜管理</a>
                    </li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li class='active'>机柜详情</li>
                </ul>
            </div>
</div>


    <div id='orders'>
        <div class='row-fluid'>
            <div class='span4'>
                <div class='responsive-table'>
                    <div class='scrollable-area'>
                        <!-- jqgrid -->
                        <table id="gridTable" class=""></table>
                        <!-- jqgrid end-->
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
            <div class='span8'>
                <div class='row-fluid' id='detail'>
                    <div class='span12 box'>
                        <div class='box-content'>
                            <div class='pull-left'>
                                <a id="r_b_1" class='btn btn-success ' style="display:none;" href="javascript:regdevice();">同步机柜信息</a>
                                <a id="r_b_2" class='btn btn-default ' style="display:none;" href='javascript:updatedeviceinfo();' style="margin-left:10px;">机柜信息修改</a>
                                <a id="r_b_3" class='btn btn-success ' style="display:none;" href='javascript:refreshdevice();'>刷新机柜信息</a>
                                <a id="r_b_4" class='btn btn-success ' style="display:none;" href='javascript:testdevice();'>完成检测</a>
                                <a id="r_b_5" class='btn btn-success ' style="display:none;" href="javascript:dispatchmerchant('分配商户','dispatchmerchant','860','440');">分配商户</a>
                                <a id="r_b_6" class='btn btn-danger ' style="display:none;" href='javascript:stopdevice();'>停用</a>
                                <a id="r_b_7" class='btn btn-success ' style="display:none;" href='javascript:startdevice();'>启用</a>
                                <a id="r_b_10" class='btn btn-danger ' style="display:none;" href="javascript:redispatch('机柜重新分配','redispatch','460','340');">机柜重新分配</a>
                                <a id="r_b_8" class='btn btn-success ' style="display:none;" href='javascript:refreshdevice();'>刷新机柜信息</a>
                                <a id="r_b_9" class='btn btn-success ' style="display:none;" href='javascript:editboxinfo();'>完善重力柜参数</a>
                                <a id="r_b_11" class='btn btn-success ' style="display:none;" href='javascript:modifyboxinfo();'>修改重力柜参数</a>


                            </div>
                            <div class='clearfix'></div>
                            <hr class='hr-normal'/>
                            <div class='lead'>
                                机柜编号：<span id="r_sn"></span>
                            </div>
                            <hr class='hr-normal'/>
                            <div class='clearfix'></div>
                            <div class='row-fluid'>
                                <div class='span2'>
                                    <div class='lead'>
                                        <i class='icon-hdd contrast'></i>
                                        设备信息
                                    </div>
                                </div>
                                <div class='span8 offset1'>
                                    <address>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_faname"></p>
                                            <p class='span6' id="r_funcname"></p>
                                        </div>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_doortypename"></p>
                                            <p class='span6' id="r_placename"></p>
                                        </div>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_rfidtypename"></p>
                                            <p class='span6' id="r_machinestatus"></p>
                                        </div>
                                        <p id="r_mac"></p>
                                        <p id="r_rfidcode"></p>
                                        <p id="devid"></p>
                                        <p id="devuid"></p>
                                        <p>备注信息：<input type="text" id="remark" value=""></p>
                                    </address>
                                </div>
                            </div>
                            <hr class='hr-normal'/>
                            <div class='row-fluid'>
                                <div class='span2'>
                                    <div class='lead'>
                                        <i class='icon-user contrast'></i>
                                        运营状态
                                    </div>
                                </div>
                                <div class='span8 offset1'>
                                    <address>
                                        <p id="r_business"></p>
                                        <p id="r_merchantname"></p>
                                        <p id="r_username"></p>
                                        <p id="r_mobile"></p>
                                        <p id="r_location"></p>
                                        <p id="r_diaaddress"></p>
                                    </address>
                                </div>
                            </div>
                            <!--<div class='row-fluid'>-->
                                <!--<div class='span2'>-->
                                    <!--<div class='lead'>-->
                                        <!--<i class='icon-hdd contrast'></i>-->
                                        <!--操作记录-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class='span8 offset1'>-->

                                <!--</div>-->
                            <!--</div>-->
                            <div class='form-actions'>
                                <ul class='pager'>
                                    <li class='previous'>
                                        <a href='#' id="last">上一个</a>
                                    </li>
                                    <li class='next'>
                                        <a href='#' id="next">下一个</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
</div>
</section>
</div>
<button class="btn-refresh" onclick="refreshpage();"></button>
<!--包含底部js文件-->
{include file="public/footer" /}
<!-- jqGrid插件包-必要 -->
<script type="text/javascript" src="__STATIC__/admin/assets/javascripts/jqGrid_5/js/jquery.jqGrid.min.js"></script>
<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包 -->
<script type="text/javascript" src="__STATIC__/admin/assets/javascripts/jqGrid_5/js/i18n/grid.locale-cn.js"></script>
<script>
    var smachineid = "{$machineid}";
    var rows;
    var status = "{$status}";
    $(function () {
        //页面加载完成之后执行
        pageInit();
    });
    function pageInit() {
        //创建jqGrid组件
        //订单状态：1 购物中，2待结账，3已取消，4待支付，5已付款，6已欠费，7转退款，8已完成
        jQuery("#gridTable").jqGrid(
            {
                url: 'machinelist',//组件创建完成之后请求数据的url
                postData:{
                    status: status
                },
                datatype: "json",//请求数据返回的类型。可选json,xml,txt
                colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                    {
                        name: 'machineid',
                        index: 'machineid',
                        hidden: true
                    },
                    {
                        name: '',
                        index: 'orderstatus',
                        sortable: false,
                        align: "left",
                        formatter: function (cellvalue, options, rowObject) {
                            var status = '';
                            var labelclass = '';
                            if(rowObject.businessstatus == "1"){
                                status= "<span class='label label-default'>未联通</span>";
                            }else if(rowObject.businessstatus == "2"){
                                status= "<span class='label label-default'>已初始化</span>";
                            }else if(rowObject.businessstatus == "3"){
                                status= "<span class='label label-success'>待分配</span>";
                            }else if(rowObject.businessstatus == "4"){
                                status= "<span class='label label-success'>正常运行</span>";
                            }else if(rowObject.businessstatus == "5"){
                                status= "<span class='label label-important'>故障</span>";
                            }else if(rowObject.businessstatus == "6"){
                                status= "<span class='label label-important'>停用</span>";
                            }else if(rowObject.businessstatus == "7"){
                                status= "<span class='label label-default'>已作废</span>";
                            }
                            var html = "<div class='pull-left'><p><strong>" + rowObject.containerid + "</strong></p><p>" + status + "</p></div><div class='text-right pull-right'><h4 class='contrast price'></h4><p><i class='icon-time'></i><span class='has-tooltip' data-title=''>"+rowObject.createtime+"</span></p></div>";
                            return html;
                        }
                    }
                ],
                page:{$page},
                rownumbers: false,
                rowNum: 10,//一页显示多少条
                rowList: [10, 20, 30],//可供用户选择一页显示多少条
                pager: '#pager2',//表格页脚的占位符(一般是div)的id
//				sortname : 'id',//初始化的时候排序的字段
//				sortorder : "desc",//排序方式,可选desc,asc
                mtype: "get",//向后台请求数据的ajax的类型。可选post,get
//          		styleUI: '',//设置jqgrid的全局样式为bootstrap样式 Bootstrap
                viewrecords: false,
                autowidth: true,
                pagerpos: "left",
                recordpos: "left",
                height: "auto",
                loadComplete: function (xhr) {
                    $("#gridTable").closest(".ui-jqgrid-bdiv").css({'overflow-y': 'auto'});//,'overflow-x':'hidden'

                    rows = xhr.rows;

                    if(smachineid!=''&&smachineid!=null){
                        loaddetail(smachineid);
                    }else{
                        if(rows.length>0){
                            loaddetail(rows[0].machineid);
                        }
                    }
                    $('#first_pager2').hide();
                    $('#last_pager2').hide();


                },
                onSelectRow: function (rowid) {
                    $('#gridTable tr').removeClass("ui-state-highlight");
                    var rowData = jQuery("#gridTable").getRowData(rowid);
                    var machineid = rowData['machineid'];
//                    var page = $('#gridTable').getGridParam('page');
//                    location.href = 'detail?machineid='+machineid+'&page='+page;
                    loaddetail(machineid);
                }

            });
    }


    function loaddetail(machineid) {
        smachineid = machineid;
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        for(var i = 0;i<rows.length;i++){
            if(rows[i].machineid == machineid){
                if(rows.length == 1){
                    $("#last").hide();
                    $("#next").hide();
                }else{
                    if(i == 0){
                        $("#last").hide();
                        $("#next").show();
                        $("#next").attr("href","javascript:loaddetail('"+rows[i+1].machineid+"');");
                    }else if(i == rows.length-1){
                        $("#last").show();
                        $("#next").hide();
                        $("#last").attr("href","javascript:loaddetail('"+rows[i-1].machineid+"');");
                    }else{
                        $("#last").show();
                        $("#next").show();
                        $("#last").attr("href","javascript:loaddetail('"+rows[i-1].machineid+"');");
                        $("#next").attr("href","javascript:loaddetail('"+rows[i+1].machineid+"');");
                    }
                }

            }
        }
        //
        var postData = {
            'machineid':machineid
        };
        var url = 'detaildata';
        //未联通-待生产 同步机柜信息 机柜信息修改
        //未联通-生产中 刷新机柜信息（rfid） 完善重力柜参数（重力柜）
        $.post(url,postData,function (result) {
            layer.close(index);
            if(result.code == 200){
                var businessstatus = result.data.machine.businessstatus;
                var mstatus = result.data.machine.status;
                $('#r_b_1').hide();$('#r_b_2').hide();$('#r_b_3').hide();$('#r_b_4').hide();$('#r_b_5').hide();$('#r_b_6').hide();$('#r_b_7').hide();$('#r_b_8').hide();
                if(businessstatus == 1&&mstatus == 8){
                    $('#r_b_1').show();
                    $('#r_b_2').show();
                }else if(businessstatus == 1&&mstatus == 9){
                    if(result.data.machine.rfidtypecode == 3){
                        $('#r_b_9').show();
                    }else{
                        $('#r_b_3').show();
                    }
                }else if(businessstatus == 1&&mstatus == 10){
                    if(result.data.machine.rfidtypecode == 3){
                        $('#r_b_9').show();
                    }else{
                        $('#r_b_3').show();
                    }
                }else if(businessstatus == 2&&mstatus == 10){
                    $('#r_b_4').show();
                    if(result.data.machine.rfidtypecode == 3){
                        $('#r_b_11').show();
                    }
                }else if(businessstatus == 3&&mstatus == 10){
                    $('#r_b_5').show();
                }else if(businessstatus == 4&&mstatus == 10){
                    $('#r_b_6').show();
                }else if(businessstatus == 6){
                    $('#r_b_7').show();
                    $('#r_b_10').show();
                }
                //停用
                if(businessstatus == 4&&(mstatus == 3||mstatus == 4||mstatus == 10)){
                    $('#r_b_6').show();
                }

                $('#r_sn').html(result.data.machine.containerid);
                $('#r_faname').html('生产厂家：'+result.data.machine.faname);
                $('#r_funcname').html('功能类型：'+result.data.machine.funcname);
                $('#r_doortypename').html('柜门数量：'+result.data.machine.doortypename);
                $('#r_placename').html('使用场合：'+result.data.machine.placename);
                ////重力柜
                if(result.data.machine.rfidtypecode == 3){
                    $('#r_mac').hide();
                    $('#r_rfidcode').hide();
                    $('#devid').html('dev_id：'+result.data.machine.boxdevid);
                    $('#devuid').html('dev_uid：'+result.data.machine.boxdevuid);
                }else{
                    $('#devid').hide();
                    $('#devuid').hide();
                    if(result.data.machine.sn){
                        $('#r_mac').html('主板编号：'+result.data.machine.sn);
                    }else{
                        $('#r_mac').html('主板编号：无');
                    }
                    if(result.data.machine.mac){
                        $('#r_rfidcode').html('rfid编号：'+result.data.machine.mac);
                    }else{
                        $('#r_rfidcode').html('rfid编号：无');
                    }
                }


                $('#r_machinestatus').html('设备状态：'+result.data.machinestatus);
                $('#r_rfidtypename').html('识别模式：'+result.data.machine.rfidtypename);
                $('#remark').val(result.data.machine.remark);
                //
                $('#r_business').html('运营状态：'+result.data.business);
                if(result.data.merchant){
                    $('#r_merchantname').html('所属商户：'+result.data.merchant.merchantname);
                    $('#r_username').html('商户管理员：'+result.data.merchant.merchantname);
                    $('#r_mobile').html('联系方式：'+result.data.merchant.mobile);
                }else{
                    $('#r_merchantname').html('所属商户：无');
                    $('#r_username').html('商户管理员：无');
                    $('#r_mobile').html('联系方式：无');
                }
                if(result.data.machine.location){
                    $('#r_location').html('机柜所属地：'+result.data.machine.location);
                }else{
                    $('#r_location').html('机柜所属地：无');
                }
                if(result.data.machine.dailaddress){
                    $('#r_diaaddress').html('详细位置：'+result.data.machine.dailaddress);
                }else{
                    $('#r_diaaddress').html('详细位置：无');
                }


            }else{
                alert(result.msg);
            }
        },"json");
    }
    //同步机柜
    function regdevice() {
        var postData = {
            'machineid':smachineid
        };
        var url = 'regdevice';
        $.post(url,postData,function (result) {
            if(result.code == 200){
                alert(result.msg);
                location.reload();
            }else{
                alert(result.msg);
            }
        },"json");
    }
    function refreshdevice() {
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var postData = {
            'machineid':smachineid
        };
        var url = 'refreshdevice';
        $.post(url,postData,function (result) {
            layer.close(index);
            if(result.code == 200){
                alert(result.msg);
                location.reload();
            }else{
                alert(result.msg);
            }
        },"json");
    }
    function testdevice() {
        var postData = {
            'machineid':smachineid
        };
        var url = 'testdevice';
        $.post(url,postData,function (result) {
            if(result.code == 200){
                alert(result.msg);
                location.reload();
            }else{
                alert(result.msg);
            }
        },"json");
    }
    function editboxinfo() {
        layer.open({
            type: 2,
            title: '完善重力柜参数',
            shadeClose: true,
            shade: 0.8,
            area: ['520px', '350px'],
            content: "editboxinfo?machineid="+smachineid
        });
    }
    function modifyboxinfo() {
        layer.open({
            type: 2,
            title: '修改重力柜参数',
            shadeClose: true,
            shade: 0.8,
            area: ['520px', '350px'],
            content: "modifyboxinfo?machineid="+smachineid
        });
    }
    function stopdevice() {
        var postData = {
            'machineid':smachineid
        };
        var url = 'stopdevice';
        $.post(url,postData,function (result) {
            if(result.code == 200){
                alert(result.msg);
                location.reload();
            }else{
                alert(result.msg);
            }
        },"json");
    }
    function startdevice() {
        var postData = {
            'machineid':smachineid
        };
        var url = 'startdevice';
        $.post(url,postData,function (result) {
            if(result.code == 200){
                alert(result.msg);
                location.reload();
            }else{
                alert(result.msg);
            }
        },"json");
    }
    //分配商户
    function dispatchmerchant(title, url, w, h) {
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['720px', '650px'],
            content: url+"?machineid="+smachineid
        });
    }
    //重新分配商户
    function redispatch(title, url, w, h) {
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['460px', '340px'],
            content: url+"?machineid="+smachineid
        });
    }
    function updatedeviceinfo() {
        var info = $('#remark').val();
        var postData = {
            'machineid':smachineid,
            'info':info
        };
        var url = 'updatedeviceinfo';
        $.post(url,postData,function (result) {
            if(result.code == 200){
                alert(result.msg);
                location.reload();
            }else{
                alert(result.msg);
            }
        },"json");
    }
    function refreshpage() {
        location.reload();
    }
//    function applyrefund() {
//        var cansub = true;
//        $(".refundfee").each(function(){
//            if($(this).val() == "") {
//                alert("请填写退款金额");
//                cansub = false;
//                return;
//            }
//        });
//        $(".refundremark").each(function(){
//            if($(this).val() == "") {
//                alert("请填写退款备注信息");
//                cansub = false;
//                return;
//            }
//        });
//        if(cansub){
//            $('#refundform').submit();
////            var postData = {
////                'orderid':orderid,
////                'status':1
////            };
////            var url = 'applyrefund';
////            $.post(url,postData,function (result) {
////                if(result.code == 1){
////                    location.reload();
////                }else{
////                    alert(result.msg);
////                }
////            },"json");
//        }
//
//    }
</script>
</body>
</html>