<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css?v=__VERSION__">
<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css?v=__VERSION__">
<!-- <link rel="stylesheet" href="__STATIC__/workweixin/css/bootstrap.min.css?v=__VERSION__"> -->
<link rel="stylesheet" href="__STATIC__/workweixin/css/common.css?v=__VERSION__">


<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js?v=__VERSION__"></script>
<!-- <script src="__STATIC__/workweixin/js/bootstrap.min.js?v=__VERSION__"></script> -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js?v=__VERSION__"></script>
<script src="__STATIC__/workweixin/js/echarts.common.min.js?v=__VERSION__"></script>
<script src="__STATIC__/workweixin/js/common.js?v=__VERSION__"></script>
<script src="__STATIC__/workweixin/js/autoAdjustREM.js?v=__VERSION__"></script>
