<!--包含头部文件-->
{include file="public/header" /}
<link rel="stylesheet" href="__STATIC__/admin/uploadify/uploadifive.css"/>
<!-- jqGrid组件基础样式包-必要 -->
<link rel="stylesheet" href="__STATIC__/admin/assets/javascripts/jqGrid_5/css/ui.jqgrid.css"/>

<link rel="stylesheet" href="__STATIC__/admin/css/gridlist.css"/>
<style>
    small{
        opacity: 1 !important;
    }
    .muted-background{
        background:#CCCCCC !important;border-color:#f4f4f4;!important;
    }
    .someClass{
        background:#49bf67;
        position: absolute !important;
        right:15px;
        border:1px solid #49bf67;
        border-radius: 2px;
    }
</style>
<div id='wrapper'>
    <!--包含菜单文件-->
    {include file="public/menu" /}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    <div class='page-header'>
                        <h1 class='pull-left'>
                            <i class='icon-tag'></i>
                            <span>电子标签管理</span>
                        </h1>
                        <div class='pull-right'>
                            <ul class='breadcrumb'>
                                <li>
                                    <a href="{:url('index/index')}"><i class='icon-home' style="font-size:17px;"></i>
                                    </a>
                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li>
                                    电子标签管理
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 box'>
                            <div class='box-header'>
                                <div class='title'>
                                    <div class='icon-flag'></div>
                                    概况
                                </div>
                                <div class='actions'>
                                    <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
                                    </a>
                                    <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
                                    </a>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class='span3'>
                                    <div class='box-content box-statistic red-background' onclick="todetailbystatus(6);">
                                        <h3 class='title text-error'>{$onsalecount}</h3>
                                        <small>已上架标签</small>
                                        <div class='text-error icon-inbox align-right'></div>
                                    </div>
                                </div>
                                <div class='span3'>
                                    <div class='box-content box-statistic green-background' onclick="todetailbystatus(4);">
                                        <h3 class='title text-primary'>{$rukucount}</h3>
                                        <small>已入库标签</small>
                                        <div class='text-primary icon-truck align-right'></div>
                                    </div>
                                </div>
                                <div class='span3'>
                                    <div class='box-content box-statistic' style="background: #f7f7f7;border-color:#f4f4f4;color:#49bf67 !important" onclick="todetailbystatus(5);">
                                        <h3 class='title' style="color:#49bf67;">{$offsales}</h3>
                                        <small>已销售标签</small>
                                        <div class='icon-ok align-right'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
                            <div class='box-header sea-blue-background'>
                                <div class='title'>电子标签管理</div>
                                <div class='actions'>
                                    <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
                                    </a>
                                    <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
                                    </a>
                                </div>
                            </div>
                            <div class='box-content box-no-padding'>
                                <div style="display: flex;align-items: center;align-content: center;">

                                    <label style="margin-left: 15px;">搜索:</label><input id="s_name" type="text" style="margin-top: 5px;margin-left: 10px;" class="input-text " placeholder="epc号">
                                    <label style="margin-left: 15px;">标签状态:</label>
                                    <select id="s_select" class="select" style="margin-top: 5px;margin-left: 10px;width: 120px;">
                                        <option value="">全部</option>
                                        <option value="0">已入库</option>
                                        <option value="1">已上架</option>
                                        <option value="2">已下架</option>
                                </select>

                                    <label style="margin-left: 15px;">
                                        <input class="btn btn-success" name="button"
                                               type="button" onclick="queryData();"
                                               value="搜索"
                                               style="margin-left: 10px;">
                                    </label>
                                    <input id="file_upload" name="file_upload" type="file" multiple="false">
                                    <!--<button class="btn btn-success" name="button"-->
                                            <!--style="" type="submit">标签入库-->
                                    <!--</button>-->
                                </div>
                                <div class='responsive-table'>
                                    <div class='scrollable-area'>
                                        <!-- jqgrid -->
                                        <table id="gridTable" class="table-bordered table-striped "></table>
                                        <!-- jqgrid end-->
                                        <div id="pager2"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class='hr-drouble'/>


                </div>
            </div>
        </div>
    </section>
</div>
<!--包含底部js-->
{include file="public/footer" /}
<!-- jqGrid插件包-必要 -->
<script type="text/javascript" src="__STATIC__/admin/assets/javascripts/jqGrid_5/js/jquery.jqGrid.min.js"></script>
<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包 -->
<script type="text/javascript" src="__STATIC__/admin/assets/javascripts/jqGrid_5/js/i18n/grid.locale-cn.js"></script>
<script>
    $(function () {
        //页面加载完成之后执行
        pageInit();
    });
    function pageInit() {
        //创建jqGrid组件
        //订单状态：1 购物中，2待结账，3已取消，4待支付，5已付款，6已欠费，7转退款，8已完成
        jQuery("#gridTable").jqGrid(
            {
                url: 'rfidlist',//组件创建完成之后请求数据的url
                datatype: "json",//请求数据返回的类型。可选json,xml,txt
                colNames: ['epc序号', '商品编号', '商品名称', '机柜编号', '商户名称', '标签状态', '变更时间', '操作'],//jqGrid的列显示名字
                colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                    {name: 'epc', index: 'epc', align: "center"},
                    {name: 'barcode', index: 'barcode', align: "center"},
                    {name: 'goodsname', index: 'goodsname', align: "center",sortable: false},
                    {name: 'containerid', index: 'containerid', align: "center",sortable: false},
                    {name: 'merchantname', index: 'merchantname', align: "center",sortable: false},
                    {
                        name: 'status',
                        index: 'status',
                        sortable: false,
                        align: "center",
                        formatter: function (cellvalue, options, rowObject) {
                            if(cellvalue == "0"){
                                return "<span class='label label-default'>已入库</span>";
                            }else if(cellvalue == "1"){
                                return "<span class='label label-success'>已上架</span>";
                            }else if(cellvalue == "2"){
                                return "<span class='label label-default'>已下架</span>";
                            }
                        }
                    },
                    { name: 'updatetime', index: 'updatetime', align: "center",sortable: true },
                    {
                        align: "center",
                        sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            var ss = '<a class="btn btn-success btn-mini" href="detail?ebno=' + rowObject.ebno + '">查看</a>';
                            // var ss2 = '<a class="btn btn-success btn-mini" style="margin-left:5px;" href="javascript:refreshrfid(\'' + rowObject.orderid + '\')">刷新</a>';
                            return ss;
                        }
                    }
                ],
                rownumbers: true,
                rowNum: 10,//一页显示多少条
                rowList: [10, 20, 30],//可供用户选择一页显示多少条
                pager: '#pager2',//表格页脚的占位符(一般是div)的id
//				sortname : 'id',//初始化的时候排序的字段
//				sortorder : "desc",//排序方式,可选desc,asc
                mtype: "get",//向后台请求数据的ajax的类型。可选post,get
//          		styleUI: '',//设置jqgrid的全局样式为bootstrap样式 Bootstrap
                viewrecords: true,
                autowidth: true,
                pagerpos: "left",
                recordpos: "right",
                height: "auto",
                loadComplete: function (xhr) {
                    $("#gridTable").closest(".ui-jqgrid-bdiv").css({'overflow-y': 'auto'});//,'overflow-x':'hidden'
                },
            });
    }
    //条件查询
    function queryData() {

        var s_name = $("#s_name").val();
        var s_select = $("#s_select").val();
        var s_time = $("#s_time").val();
        var page = $('#gridTable').getGridParam('page'); // current page
        var rows = $('#gridTable').getGridParam('rows'); // rows
        var sidx = $('#gridTable').getGridParam('sidx'); // sidx
        var sord = $('#gridTable').getGridParam('sord'); // sord
        jQuery("#gridTable").jqGrid('setGridParam', {
            url: "rfidlist",
            postData: {
                s_name: s_name,
                s_select: s_select,
                s_time: s_time
            },
            page: page,
            rows: rows,
            sidx: sidx,
            sord: sord
        }).trigger("reloadGrid");
    }
    function todetailbystatus(status) {
        location.href = 'detail?page=1&status='+status;
    }
    // function refreshrfid(orderid) {
    //     var postData = {
    //         'orderid':orderid
    //     };
    //     var url = 'refreshrfid';
    //     $.post(url,postData,function (result) {
    //         if(result.code == 200){
    //             alert('订单状态：'+result.msg);
    //             location.reload();
    //         }else{
    //             alert(result.msg);
    //         }
    //     },"json");
    // }
</script>
<script>
    /**定义页面全局变量**/
    var SCOPEFILE = {
        "uploadify_swf" : "__STATIC__/admin/uploadify/uploadify.swf",
        "image_upload" : "{:url('/admin/taglib/uptaglib')}",
    };

</script>
<script type="text/javascript">
    $(function() {
        $('#file_upload').uploadifive({
            'auto'             : true,
            'fileSizeLimit' : 50000,
            'buttonClass'  : 'someClass',
            'height'       : 25,
            'width'        : 80,
            'buttonText'   : '标签入库',
            'removeCompleted' : true,
            'uploadScript'     : SCOPEFILE.image_upload,
            'onUploadComplete' : function(file, data) {
                console.log(data);
                var obj = eval('(' + data + ')');
                if(obj.code == 1){
                    // var obj = JSON.parse(obj2);
                    alert('成功');
                }else{
                    alert(obj.msg);
                }


            },
            'onError'      : function(errorType) {
                if(errorType == 'FILE_SIZE_LIMIT_EXCEEDED'){
                    alert('大小超出限制');
                }
                alert('The error was: ' + errorType);
            }
        });
    });
</script>
</body>
</html>