
<!--包含头部文件-->
{include file="public/loginheader" /}
<div id='wrapper'>
    <div class='application'>
        <div class='application-content'>
            	<img src="__STATIC__/admin/assets/images/adminlogo2.png" style="width:80px;height:80px;"/>
        </div>
    </div>
    <div class='controls'>
        <div class='caret'></div>
        <div class='form-wrapper'>
            <div class='text-center'>没有此用户，请联系管理员添加</div>
        </div>
    </div>
</div>
<!--包含底部js-->
{include file="public/footer" /}

</body>
</html>
