
<!--包含头部文件-->
{include file="public/header" /}
<!-- jqGrid组件基础样式包-必要 -->
<link rel="stylesheet" href="__STATIC__/admin/assets/javascripts/jqGrid_5/css/ui.jqgrid.css"/>

<!-- jqGrid主题包-非必要 -->
<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
<!--<link rel="stylesheet" href="__STATIC__/admin/assets/javascripts/jqGrid_5/css/ui.jqgrid-bootstrap-ui.css" />-->

<link rel="stylesheet" href="__STATIC__/admin/css/gridlist.css"/>
<style>
    
     small{
        opacity: 1 !important;
    }
    .muted-background{
        background:#CCCCCC !important;border-color:#f4f4f4;!important;
    }
</style>
<div id='wrapper'>

    <!--包含菜单文件-->
    {include file="public/menu" /}
<section id='content'>
<div class='container-fluid'>
<div class='row-fluid' id='content-wrapper'>
<div class='span12'>
<div class='page-header'>
    <h1 class='pull-left'>
        <i class='icon-bar-chart'></i>
        <span>对账单详情</span>
    </h1>
    <div class='pull-right'>
                <ul class='breadcrumb'>
                    <li>
                        <a href="{:url('index/index')}"><i class='icon-home' style="font-size:17px;"></i>
                        </a>
                    </li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li>
                        <a href="{:url('checkaccount/index')}">对账管理</a>
                    </li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li class='active'>平台对账</li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li class='active'>对账单概览</li>
                </ul>
            </div>
</div>


    <div id='orders'>
        <div class='row-fluid'>
            <!--<div class='span4'>
                <div class='responsive-table'>
                    <div class='scrollable-area'>
                         jqgrid -->
                        <!-- <table id="gridTable" class=""></table> -->
                        <!-- jqgrid end
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>-->
            <div class='span12'>
                <div class='row-fluid' id='detail'>
                    <div class='span12 box'>
                        <div class='box-content'>
                            
                            <hr class='hr-normal'/>
                            <div class='pull-left lead'>
                                交易日期：
                                <span id="stucode2">{$billdate}</span>
                               
                            </div>
                            
                            <div class='clearfix'></div>
                            <hr class='hr-normal'/>
                            
                            <div class='row-fluid'>
                                <div class='span2'>
                                    <div class='lead'>
                                        <i class='icon-hdd contrast'></i>
                                        商户汇总
                                    </div>
                                </div>
                                <div class='span8 offset1'>
                                    <address>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_faname">交易笔数</p>
                                            <p class='span6' id="r_funcname">{$count}</p>
                                        </div>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_doortypename">微信支付</p>
                                            <p class='span6' id="r_placename">{$wxpay/100}</p>
                                        </div>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_rfidtypename">储值卡支付</p>
                                            <p class='span6' id="r_machinestatus">{$rechargepay/100}</p>
                                        </div>
                                        <div class='row-fluid'>
                                            <p class='span6' id="r_rfidtypename">合计</p>
                                            <p class='span6' id="r_machinestatus">{$sum}</p>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <hr class='hr-normal'/>
                            <div class='responsive-table'>
                                <div class='scrollable-area'>
                                    <!-- 表格 -->
                                    <table id="gridTable" class="table-bordered table-striped "></table>
                                    <!-- 页码 -->
                                    <div id="pager2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
</div>
</section>
</div>
<button class="btn-refresh" onclick="refreshpage();"></button>
<!--包含底部js文件-->
{include file="public/footer" /}
<!-- jqGrid插件包-必要 -->
<script type="text/javascript" src="__STATIC__/admin/assets/javascripts/jqGrid_5/js/jquery.jqGrid.min.js"></script>
<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包 -->
<script type="text/javascript" src="__STATIC__/admin/assets/javascripts/jqGrid_5/js/i18n/grid.locale-cn.js"></script>
<script>
    // 
    var maccountid = '{$maccountid}';
    // var rows;
    $(function () {
        //页面加载完成之后执行
        pageInit();
    });
    function pageInit() {
        //创建jqGrid组件
        //订单状态：1 购物中，2待结账，3已取消，4待支付，5已付款，6已欠费，7转退款，8已完成
        jQuery("#gridTable").jqGrid(
            {
                url: 'getMerBillDetailList',//组件创建完成之后请求数据的url
                postData:{
                    maccountid: maccountid
                },
                datatype: "json",//请求数据返回的类型。可选json,xml,txt
                colNames: ['流水号', '交易时间', '第三方订单号', '支付类型', '支付方式', '金额(平台)','支付渠道手续费','平台手续费'],//jqGrid的列显示名字
                colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                     { name: 'serialno', index: 'serialno', align: "center", sortable: false, },
                    { name: 'transactiontime', index: 'transactiontime', align: "center", sortable: false, },
                    { name: 'batchno', index: 'batchno', align: "center", sortable: false, },
                    { 
                        name: 'billtype',
                        index: 'billtype', 
                        align: "center", 
                        sortable: false, 
                        formatter: function (aa, options, rowObject) {
                            if(aa=1) {
                                return '商品购买'
                            } else if(aa=2) {
                                return '储值购买';
                            } else if(aa=3) {
                                return 'rfid购买';
                            }
                        }
                    },
                    {
                        name: 'billresult',
                        index: 'billresult',
                        align: "center",
                        sortable: false,
                        formatter: function (aa, options, rowObject) {
                            if (aa = 1) {
                                return '付款'
                            } else if (aa = 2) {
                                return '退款';
                            } else {
                                return '状态未知'
                            }
                        }
                    },
                     {
                        name: 'paytype',
                        index: 'paytype',
                        align: "center",
                        sortable: false,
                        formatter: function (aa, options, rowObject) {
                            if (aa = 2) {
                                return '微信支付'
                            } else if (aa = 3) {
                                return '支付宝支付';
                            } else {
                                return '状态未知'
                            }
                        }
                    }, 
                    {
                        name: 'fees',
                        index: 'fees',
                        align: "center",
                        sortable: false,
                        formatter: function (aa, options, rowObject) {
                            return aa/100;
                        }
                    }, 
                    {
                        name: 'platefees',
                        index: 'platefees',
                        align: "center",
                        sortable: false,
                        formatter: function (aa, options, rowObject) {
                            return aa / 100;
                        }
                    }, 
                    
                ],
                rownumbers: false,
                rowNum: 10,//一页显示多少条
                rowList: [10, 20, 30],//可供用户选择一页显示多少条 , 20, 30
                pager: '#pager2',//表格页脚的占位符(一般是div)的id
                //				sortname : 'id',//初始化的时候排序的字段
                //				sortorder : "desc",//排序方式,可选desc,asc
                mtype: "get",//向后台请求数据的ajax的类型。可选post,get
                //          		styleUI: '',//设置jqgrid的全局样式为bootstrap样式 Bootstrap
                viewrecords: true,
                autowidth: true,
                pagerpos: "left",
                recordpos: "right",
                height: "auto",
                loadComplete: function (xhr) {
                    $("#gridTable").closest(".ui-jqgrid-bdiv").css({ 'overflow-y': 'auto' });//,'overflow-x':'hidden'
                },
            });
            
    }
    function gotoDetail(page, detailid) {
        location.href = 'detail?page=' + page + '&accountid=' + detailid;
    }
</script>
</body>
</html>