<!DOCTYPE html>
<html>
{include file="public/layerheader" /}
<style>
    .box{
        margin-bottom: 0px;
    }
    .box .box-content{
        padding: 0px;
        padding-top: 10px;
        border: 0px;
    }
    .form-actions{
        margin-bottom: 0px;
        text-align: right;
    }
    .error{
        color:red;
    }
</style>
<body class=''>

<div class='container-fluid'>
        <div class="row-fluid">
    <div class="span12 box">
        <div class="box-content" style="height: 280px;overflow-y: auto;">
            <form id="form-category-add"  action="{:url('rfid/savetype')}" class="form form-horizontal "  method="post" style="margin-bottom: 0;"><div style="margin:0;padding:0;display:inline"></div>
                <div class="control-group">
                    <label class="control-label" for="typename">类型名称：</label>
                    <div class="controls">
                        <input id="typename" name="typename"  placeholder="类型名称" type="text">
                    </div>
                </div>
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="categoryno">类型编号：</label>-->
                    <!--<div class="controls">-->
                        <!--<input id="categoryno" name="categoryno" placeholder="类型编号" type="text" >-->
                    <!--</div>-->
                <!--</div>-->
                <div class="control-group">
                    <label class="control-label" for="minsubcount">起订量：</label>
                    <div class="controls">
                        <input id="minsubcount" name="minsubcount" placeholder="起订量" type="text" >
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="unitfee">标签单价：</label>
                    <div class="controls">
                        <input id="unitfee" name="unitfee" placeholder="标签单价" type="number" >
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="remark">备注：</label>
                    <div class="controls">
                        <textarea id="remark" name="remark" placeholder="备注" rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-actions" style="margin-top: 0px;">
            <button class="btn btn-primary" type="button" onclick="apply();">
                创建
            </button>
            <button class="btn" type="button" onclick="javascript:close_layer();">取消</button>
        </div>
    </div>
</div>
    </div>
{include file="public/footer" /}
<script>
    function close_layer(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.$('.btn-refresh').click();
        parent.layer.close(index);
    }

    //
    //
    $(function(){

    });
    function apply() {
        var cansub = true;
        if ($('#typename').val() == "") {
            alert("请填写类型名称");
            cansub = false;
            return;
        }
        if ($('#minsubcount').val() == "") {
            alert("请填写起订量");
            cansub = false;
            return;
        }
        if ($('#unitfee').val() == "") {
            alert("请填写标签单价");
            cansub = false;
            return;
        }
        if ($('#unitfee').val() <0) {
            alert("标签单价不能小于0");
            cansub = false;
            return;
        }
        if (cansub) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '{:url(\'rfid/savetype\')}',
                data: $('#form-category-add').serialize(),
                success: function (result) {
                    if(result.code == 1){
                        parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }else{
                        alert(result.msg);
                    }
                },
                error: function(data) {
                    alert("error:"+data.responseText);
                }
            });
        }

    }
</script>
</body>
</html>
