<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>销售统计</title>
    {include file="common/header" /}
    <style>


    </style>

</head>

<body>
<div id="container" class="container">
    <div class="weui-search weui-flex">
        <div class="icon fa-calendar"></div>
        <input class="weui-input weui-input_5" id="start_date" type="text" value="{$start}" readonly>
        <span>&nbsp ~ &nbsp</span>
        <input class="weui-input weui-input_5" id="end_date" type="text" value="{$end}" readonly>
    </div>
    <div class="content">
        <div class="header">
            概览
        </div>
        <div class="grids">
            <div class="weui-flex">
                <div class="weui-flex__title">流水总额：<span class="font-color-red totalsales">0</span></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item ">
                    <span class="totalpens"></span>
                    <p class=''> 订单数量（笔）</p>
                </div>
                <div class="weui-flex__item ">
                    <span class="perconsumption"></span>
                    <p class=''> 客单价（元）</p>
                </div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item ">
                    <span class="wxdeductedamount"></span>
                    <p class=''> 代扣支付（元）</p>
                </div>
                <div class="weui-flex__item ">
                    <span class="amountstoredvalue"></span>
                    <p class=''> 储值支付（元）</p>
                </div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item ">
                    <span class="numarrears"></span>
                    <p class=''> 欠费订单（笔）</p>
                </div>
                <div class="weui-flex__item ">
                    <span class="wxpaymentpens"></span>
                    <p class=''> 补缴订单（笔）</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header">
            销售趋势
        </div>
        <hr>
        <div id="echart_1" class="echart">

        </div>
    </div>
    <div class="content">
        <div class="header">
            订单构成
        </div>
        <hr>

        <div id="echart_2" class="echart">

        </div>
    </div>
    <div class="content">
        <div class="weui-flex">
            <div class="header  weui-flex__item">
                销售商品分类占比
            </div>
            <div class="">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select1">
                            <option selected="" value="1">交易额</option>
                            <option value="2">交易量</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="echart_3" class="echart">

        </div>
    </div>



</div>

<div id="back" onclick="javascript:history.back()">
    <button>返回</button>
</div>
</body>

<script>
    $(function(){
        var start = '{$start}';
        var end = '{$end}';
        var obj = common.init('{$start}', '{$end}');
        var getsalesstat = "{:url('order/getsalesstat')}";//概览
        var getrecent7days = "{:url('order/getrecent7days')}";//七日销售走势
        var ordercomposition = "{:url('order/ordercomposition')}";//订单构成
        var goodsclassification = "{:url('order/goodsclassification')}";//订单构成
        $("#start_date").calendar({
            dateFormat:'yyyy-mm-dd',
            value : [start],
            maxDate: end,
            onChange: function (p, values) {
                start = values[0];
            },
            onClose: function (p) {
                //$("#start_date").calendar('destroy');
                //_this.get_sdate();
                window.location.href = "{:url('index/saledetail')}" + '?start=' + start + '&end=' + end;
            }
        });
        $("#end_date").calendar({
            dateFormat:'yyyy-mm-dd',
            value : [end],
            minDate: start,
            onChange: function (p, values) {
                end = values[0];
            },
            onClose: function (p) {
                //$("#start_date").calendar('destroy');
                //_this.get_sdate();
                window.location.href = "{:url('index/saledetail')}" + '?start=' + start + '&end=' + end;
            }
        });
        //概览
        obj.get_saledtotal(getsalesstat)
        // 基于准备好的dom，初始化echarts实例
        var myChart_1 = echarts.init(document.getElementById('echart_1'));
        var myChart_2 = echarts.init(document.getElementById('echart_2'));
        var myChart_3 = echarts.init(document.getElementById('echart_3'));
        
        var option_1 = obj.get_machinetrend(getrecent7days)
        myChart_1.setOption(option_1,true);
        var option_2 = obj.get_machinetrend(ordercomposition)
        myChart_2.setOption(option_2, true);
        var option_3 = obj.get_circle(goodsclassification, 1)
        myChart_3.setOption(option_3, true);
        $('.weui-select').on('change', function () {
            var select = $(this)
            var option_3 = obj.get_circle(goodsclassification, select.val())
            myChart_3.setOption(option_3, true);
        })
    })

</script>


</html>