<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>用户统计</title>
    {include file="common/header" /}
</head>

<body>
<div id="container" class="container">
    <div class="weui-search weui-flex">
        <div class="icon fa-calendar"></div>
        <input class="weui-input weui-input_5" id="start_date" type="text" value="{$start}" readonly>
        <span>&nbsp ~ &nbsp</span>
        <input class="weui-input weui-input_5" id="end_date" type="text" value="{$end}" readonly>
    </div>
    <div class="content">
        <div class="header">
            概览
        </div>
        <div class="grids">
            <div class="weui-flex">
                <div class="weui-flex__title">购买/总用户总数(位)：<span class="font-color-red totalnumusers"></span></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><span class="newusers"></span><p class="">新增用户（个）</p></div>
                <div class="weui-flex__item"><span class="newstoredvalueusers"></span><p class="">新开通储值用户（个）</p></div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item"><span class="newstoredvalue"></span><p class="">充值总金额（元）</p></div>
                <div class="weui-flex__item"><span class="perconsumption"></span><p class="">人均消费</p></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header">
            用户购买频次
        </div>
        <div id="echart_3" class="echart">

        </div>
    </div>



</div>

<div id="back" onclick="javascript:history.back()">
    <button>返回</button>
</div>
</body>

<script>
    $(function(){
        var start = '{$start}';
        var end = '{$end}';
        var obj = common.init('{$start}', '{$end}');
        var getuserstat = "{:url('user/getuserstat')}";//概览
        var userpurchasefrequency = "{:url('user/userpurchasefrequency')}";//pie图

        $("#start_date").calendar({
            dateFormat:'yyyy-mm-dd',
            value : [start],
            maxDate: end,
            onChange: function (p, values) {
                start = values[0];
            },
             onClose: function (p) {
                //$("#start_date").calendar('destroy');
                //_this.get_sdate();
                window.location.href = "{:url('index/userdetail')}" + '?start=' + start + '&end=' + end;
            }
        });
        $("#end_date").calendar({
            dateFormat:'yyyy-mm-dd',
            value : [end],
            minDate: start,
            onChange: function (p, values) {
                end = values[0];
            },
             onClose: function (p) {
                //$("#start_date").calendar('destroy');
                //_this.get_sdate();
                window.location.href = "{:url('index/userdetail')}" + '?start=' + start + '&end=' + end;
            }
        });
         obj.get_usertotal(getuserstat)//概览
        // 基于准备好的dom，初始化echarts实例
        var myChart_3 = echarts.init(document.getElementById('echart_3'));
        var option_3 = obj.get_circle(userpurchasefrequency, 1)
        myChart_3.setOption(option_3,true);
    })

</script>


</html>